* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background: #1A1D23;
  --text-heading: #F8F8F8;
  --text-body: #D7D7D7;
  --text-info: #BBBBBB;
  --highlight: #FF57B2;
}

body{
  background: var(--background);
  font-family: "Inter", sans-serif;
  color: var(--text-body);
}

@media(max-width: 1080px){

  html{
    font-size: 93.75%;
  }

}
@media(max-width: 720px){

  html{
    font-size: 87.5%;
  }
}

body,input,textarea,button,select{
  font: 400 1rem "Inter" sans-serif;
}
button{
  cursor: pointer;
}